# Operating System Files
Thumbs.db

# Editor Files
.vscode/

# Dependencies
node_modules/

# Environment Variables
.env

#Temporary files
plots/
forecasts/
models/*_seed.csv
models/xgb_metrics.csv

#python cache
__pycache__/
*.pyc
*.pyo